html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

.background-container img.background-gif, .background-container::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Background behind other content */
}

.background-container img.background-gif {
    opacity: 0.2; /* Semi-transparent background image */
    /* Uncomment below if you want to add blur */
    /* filter: blur(2px); */
}

.background-container::before {
    content: '';
    background: rgba(0, 0, 0, 2); /* Dark overlay with correct opacity */
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Buttons above the background */
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    margin: 12px;
    font-size: 26px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid green;
    color: black;
    transition: background-color 0.3s, opacity 0.3s;
    border-radius: 24px;
    text-align: center;
    line-height: 22px; /* Adjust line height for vertical alignment */
}

button:hover {
    opacity: 0.9;
}

.text-center h1, .text-center p {
    font-size: 60px; /* Adjust this value as needed */
}

#about-button {
    font-size: 37px; /* Larger font size */
    /* Larger padding */
}

#about-button {
    font-weight: bold; /* Makes text bold */
    /* text-decoration: underline; */
}

.text-center {
    margin: 16px;
    font-size: 60px; /* Increased from 50px for larger text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-decoration: underline;
}

.bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px; /* Adjust as needed */
}
